body,
html {
  height: 100%;
  margin: 0;
}
body {
  background: url('../img/wave.svg') no-repeat;
  background-size: cover;
  padding-bottom: 500px;
  background-size: 200%;
}
.nav-div img {
  width: 15%;
  margin-right: 70%;
}
.nav-div .navbar {
  text-align: center;
}
.nav-div .navbar .nav-links {
  font-size: 1.6rem;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-div .navbar .nav-links li {
  margin-right: auto;
}
.nav-div .navbar a {
  text-decoration: none;
  color: #fff;
  justify-content: center;
}
.nav-div .navbar a:hover {
  color: #f29148;
}
header {
  color: #fff;
}
header h1 {
  text-align: center;
  padding-top: 5%;
}
header p {
  text-align: center;
}
header button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body .middle-picture {
  display: flex;
  justify-content: center;
  height: 70%;
  padding-top: 5%;
}
.middle-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.middle-content .mid-right {
  margin-right: 2%;
}
.middle-content .mid-left {
  align-items: center;
  margin-left: 20%;
}
