

//header

header{
    color: #fff;
    h1{
text-align: center;
padding-top: 5%;

    }

    p{
        text-align: center;
      
    }
    button{
        margin-left:auto;
        margin-right:auto;
        display: block;
    }
}

body{

    .middle-picture{
        display: flex;
        justify-content: center;
        height:70%;
        padding-top: 5%;
    }
}

.middle-content{
display: flex;
justify-content: space-between;
margin-top: 5%;
.mid-right{
margin-right: 2%;
}
.mid-left{
    align-items: center;
    margin-left: 20%;
}

}