.nav-div{
   
    
    img{
        width: 15%;
        margin-right:70%;
    }
    
    .navbar{
       text-align: center;
     
    
             .nav-links{
                
                font-size: 1.6rem;
                list-style-type: none; 
                display: flex;
                align-items: center;    
                @media @phone{
                  display: block;
                }
               
                li{
                    margin-right: auto;
                }
            }
            a{
                text-decoration: none;
                color: #fff;
                justify-content: center;
                
                
                &:hover{
                    color: @main-orange;
                }
            }
            
            
        }
    }

  // Navbar 
.navbar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: @nav-footer-color;
    padding: @nav-footer-padding;


    a {
        color: #fff;
        text-decoration: none;
        margin-left: 30px;

        

      
    }
}